<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>
<div id = "clientProfile">
    <h2>My profile</h2>
    <p th:text="${name}"></p>
    <p th:text="${skintype}"></p>
    <p th:text="${manipedi}"></p>
</div>
<div id = "servicesMenu">
    <th:block >
        <table>
            <tr>
                <th>Facial Options</th>
            </tr>
            <tr th:each="facial : ${appropriateFacials}">
                <td th:text="${facial}"></td>
            </tr>
        </table>
    </th:block>
    <p th:if="${manipedi.equals('manicure')">Test <!--th:replace="fragments :: manicureDescription"--></p>
    <p th:if='${manipedi.equals("pedicure")' th:replace="fragments :: pedicureDescription"></p>
</div>
</body>
</html>